.nav {
> * {
    text-align: center;

    width: 15%;
    min-width: 170px;
    color: $primary-color;
    padding-top: 55px;
    padding-right: 30px;
    font-size: 1.7rem;
}
    ul, li, a {
    font-size: 1.3rem;
}
    h4 {
      -webkit-margin-before: 0;
      margin-left: 50px;
    }
  }